@import 'mixfonset/reset';

@import 'plugins/magnific-popup';
@import 'mixfonset/fonts';
@import 'mixfonset/settings';
@import 'mixfonset/mixins';
@import 'parts/buttons';



/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/
h1 {
    font: 48px $rb;
    color: #FFF;
}
section {
    padding-bottom: 80px;
}

/*=====================================================================================*/
/*  HEADER STYLES  */ 
         
header {
    width: 100%;
    z-index: 100;
    margin: 0;
    margin-top: 50px;
    position: absolute;
    left: 0;
    top: 0;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m1000 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: $brown;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
            color: #FFF;
            overflow: scroll;
            &.active { left: 0;}
            .wrapper {
                   @include flexDirection(column);
                   width: 100%;
            }
        }
        /*.............end media..............*/
        
         .header__bottom {
            padding: 18px 0;
            @include flex();
        }

        .contactUs {
            color: #FFF;
            text-align: right;
            * {
                display: inline-block;
                vertical-align: middle;
            }
            div {
                margin-right: 35px;
            }
            .tel {
                font: 24px $rb;
                color: #FFF;
                display: block;
            }
            .mail {
                font: 16px $rb;
                color: $green;
            }
        }


        /*.................media.............*/
        @include m1000 {
             .header__bottom {
                 display: block;
                 text-align: center;
             }
             .contactUs {
                 * {
                     display: block;
                     margin: 20px auto;
                     text-align: center;
                 }
                 div {
                     margin: 20px auto;
                 }
             }
        }
        /*.............end media..............*/
}



/* ------------------------------------ */
/*  NAV STYLES  */

nav {
    @include position(fixed, 0 ,0, auto, 0);
    height: 50px;
    background-color: $brown;
    overflow: hidden;
    .wrapper {
        height: 100%;
    }
        /*.................media.............*/
        @include m1000 { 
            position: static;
            height: auto;
            background-color: $brown;
        }
        /*.............end media.............*/
}
nav ul {
    @include flex();
    list-style-type: none;
    margin: 0;
    height: 100%;
    li {
        text-align: center;
        margin-right: -2px;
        &:before {content: " | "; color: rgba(255,255,255, .1);}
        &:first-child:before {display: none;}
        a {
            display: inline-block;
            font: 12px $rb;
            text-decoration: none;
            color: #FFF;
            text-transform: uppercase;
            padding: 0 9px 0 7px;
            @include transition(all, .2s);             
            &:hover {}
        }
    }

        /*.................media.............*/
        @include m1000 { 
            display: block;
            position: relative;
            li:before {display: none;}
            li a  {   
                margin: 0 0 25px 0;
                &.active {color: #ECCC1D;}
                &:hover  {background: transparent;}
            } 
        }
        /*.............end media.............*/
    
}



/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $brown;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 


.offer {
    height: 850px;
    background: url('../images/offerBg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 220px;
    h1 {
        margin-top: 40px;
    }


    &__form {
        margin-top: 65px;
        @include flex();
        &__text {
            width: 500px;
            padding: 43px 50px 47px 0;
            color: #FFF;
            font-family: $rl;
            font-size: 18px;
            background-image: url("../images/offerFormTExtBg.png");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
            .title {
                font: 48px $rb;
                color: $green;
                display: block;
            }
            .pr {
                display: block;
                color: $orange;
                width: 100%;
                text-align: center;
                font: 28px/46px $rb;    
            }
        }
    }
    /*.................media.............*/
        @include mh750 {
            height: 750px;
            h1 {
                margin-top: 20px;
            }
            &__form {
                margin-top: 40px;
            }
        }
        @include m1000 {
            padding-top: 60px;
            &__form {
                margin-top: 40px;
            }
        }

}

form {
    width: 320px;
    background-color: #FFF;
    padding: 34px 32px;
    p {
        font: 23px $rb;
        color: $brown;
        margin-bottom: 16px;
    }
    input {
        width: 100%;
        height: 50px;
        text-align: center;
        font: 15px $rl;
        color: $brown;
        border: none;
        background-color: #EDEDED;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin-bottom: 15px;
        -webkit-border-radius: 6px;
                border-radius: 6px;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
       color: #A4A4A4;
    }
    :-moz-placeholder {
        color: #A4A4A4;
        opacity: 0;
    }
    .button {
        font-size: 15px;
    }
}



/*=====================================================================================*/
/*  ABOUT STYLES  */ 

.about {
    padding-bottom: 320px;
    background-color: #F9F8F1;
    background-image: url("../images/aboutBg.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    p {
        line-height: 30px;
        margin-top: 35px;
    }
}

.numbersInfo {
    @include flex($justify : space-between, $alignI: flex-start);
    margin-top: 80px;
    &__item {
        width: 200px;
        background-color: #F1EED7;
        padding-top: 45px;
        text-align: center;
        height: 110px;
        position: relative;
        font: 20px/24px $rl;
        padding-bottom: 10px;
        span {
            display: inline-block;
            vertical-align: middle;
            width: 98%;
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-right: -3px;
        }
        &:after {
            content: attr(data-num);
            width: 70px;
            height: 70px;
            background-color: $green;
            color: #FFF;
            text-align: center;
            position: absolute;
            left: 0; right: 0;
            margin: auto;
            top: -35px;
            font: 30px/70px $rb;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
        }
    }
}

/*=====================================================================================*/
/*  SERVICES STYLES  */ 


.services {
    background-color: #4A3D33;
}
.servicesInfo {
     @include flex($alignI: flex-start, $wrap: wrap);
     margin: 50px auto;
     &__item {
         width: 50%;
         height: 380px;
         padding: 30px 5px;
         text-align: left;
         background-size: cover;
         h3 {
             display: inline-block; padding: 0 30px;
             font: 30px/60px $rb;
             color: #FFF;
             background-color: $orange;
             margin-bottom: 25px;
             margin-left: -5px;
         }
         &--white {
             background-color: #FFF;
             .servicesInfo__item__list {
                 color: $brown;
             }
         }
         &--middle {
             &:before {
                 content: "";
                 height: 100%;
                 display: inline-block;
                 vertical-align: middle;
             }
             .exclaim {
                 display: inline-block;
                 vertical-align: middle;
                 max-width: 98%;
             }
         }
         &__list {
             list-style-type: none;
             color: #FFF;
             font: 16px $rl;
             li {
                 margin-bottom: 12px;
                 padding-left: 45px;
                 position: relative;
                 &:before {
                        content: "";
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    left: 26px;
                    margin-right: 5px;
                    width: 11px;
                    height: 8px;
                    background-image: url("../images/check.png");
                    background-size: 100% 100%;
                 }
             }
         }
         .exclaim {
             font: 24px $rb;
             margin-bottom: 20px;
             text-align: center;
         }
     }
}

@import 'parts/convoy';
@import 'parts/packages';
@import 'parts/reasons';
@import 'parts/contacts';
@import 'parts/footer';