.packages {
	@media ($phones) {
		.wrapper {
			padding: 0 5px;
		}
	}
	.table {
		background-color: $green;
		padding: 0 5px;
		margin-top: 40px;

		@media (max-width: 660px) {
			overflow-x: scroll;
			padding: 0;
		}

		table {
			width: 100%;
			table-layout: fixed;
			font-size: 14px;
			font-family: $rb;

			@media (max-width: 660px) {
				width: 650px;
				font-size: 12px;
			}

			td:first-child {
				width: 415px;

				@media (max-width: 900px) {
					width: 300px;
				}
				@media ($phones) {
					line-height: normal;
					width: 240px;
				}
			}

			td {
				position: relative;
				padding: 20px 15px;

				@media ($phones) {
					padding: 20px 8px;
				}

				&:not(:last-child):after {
					content:'';
					width: 2px;
					height: calc(100% - 40px);
					position: absolute;
					top: 20px;
					right: -1px;
					background-color: #000;
					opacity: 0.1;
				}
			}

			thead {
				td {
					vertical-align: top;
					color: #fff;
				}
			}

			tbody {
				tr:nth-child(odd) {
					background-color: #F9F8F1;
				}

				tr:nth-child(even) {
					background-color: #fff;
				}

				td:first-child {
					text-align: left;
					line-height: 24px;
				}
			}

			tfoot {
				td {
					padding-left: 1px;
					padding-right: 1px;
					&:after {
						display: none;
					}
				}
			}

			i {
				display: inline-block;
			}

			i.true {
				width: 26px;
				height: 21px;
				background-image: url(../images/check.png);
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: 50% 50%;
			}

			i.false {
				width: 26px;
				height: 21px;
				background-image: url(../images/minus.png);
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: 50% 50%;
			}

			.button {
				@media ($phones) {
					padding-left: 0;
					padding-right: 0;
					width: 100%;
				}
			}
		}
	}
}